@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1200px) {
    @content;
  }
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}