* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}