:root {
  --bg-color: #ffffff;
  --bg-button: #E2E6E9;
  --cart-text: #F1F2F9;
  --cart-text-active: #27AE60;
  --btn-color: #FFFFFF;
  --secondary-color: #89939A;
  --icons-color: #B4BDC4;
  --elements-color: #E2E6E9;
  --surface2-color: #E2E6E9;
  --surface1-color: #E2E6E9;
  --black-color: #ffffff;
  --white-color: #313237;
  --accent-color: #313237;
  --green-color: #27AE60;
  --red-color: #EB5757;
  --border-color: #313237;
  --hover-color: #313237;
  --mockup-color: #bdbdbd;
  --pagination-text: #f1f2f9;
  --pagination-hover: #B4BDC4;
  --slider-gradient: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgb(255, 255, 255) 100%);
}